In [1]:
# importing all needed libraries..
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
# read csv file using pandas and convert in into dataframe
df = pd.read_csv('./CSV_Files/processed-data.csv')
print("Shape-> ",df.shape)
df.head(10)

Shape->  (316800, 19)

,Tiredness,Dry-Cough,Difficulty-in-Breathing,Sore-Throat,None_Sympton,Pains,Nasal-Congestion,Runny-Nose,None_Experiencing,Age_0-9,Age_10-19,Age_20-24,Age_25-59,Age_60+,Gender_Female,Gender_Male,Severity_Mild,Severity_Moderate,Severity_None
0,1,1,1,1,0,1,1,1,0,1,0,0,0,0,0,1,1,0,0
1,1,1,1,1,0,1,1,1,0,1,0,0,0,0,0,1,1,0,0
2,1,1,1,1,0,1,1,1,0,1,0,0,0,0,0,1,1,0,0
3,1,1,1,1,0,1,1,1,0,1,0,0,0,0,0,1,0,1,0
4,1,1,1,1,0,1,1,1,0,1,0,0,0,0,0,1,0,1,0
5,1,1,1,1,0,1,1,1,0,1,0,0,0,0,0,1,0,1,0
6,1,1,1,1,0,1,1,1,0,1,0,0,0,0,0,1,0,0,0
7,1,1,1,1,0,1,1,1,0,1,0,0,0,0,0,1,0,0,0
8,1,1,1,1,0,1,1,1,0,1,0,0,0,0,0,1,0,0,0
9,1,1,1,1,0,1,1,1,0,1,0,0,0,0,0,1,0,0,1

In [3]:
Non_dupDF = df.drop_duplicates()
Non_dupDF

,Tiredness,Dry-Cough,Difficulty-in-Breathing,Sore-Throat,None_Sympton,Pains,Nasal-Congestion,Runny-Nose,None_Experiencing,Age_0-9,Age_10-19,Age_20-24,Age_25-59,Age_60+,Gender_Female,Gender_Male,Severity_Mild,Severity_Moderate,Severity_None
0,1,1,1,1,0,1,1,1,0,1,0,0,0,0,0,1,1,0,0
3,1,1,1,1,0,1,1,1,0,1,0,0,0,0,0,1,0,1,0
6,1,1,1,1,0,1,1,1,0,1,0,0,0,0,0,1,0,0,0
9,1,1,1,1,0,1,1,1,0,1,0,0,0,0,0,1,0,0,1
24,1,1,1,1,0,1,1,0,0,1,0,0,0,0,0,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31665,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,1
31668,0,0,0,0,1,0,0,0,1,0,0,0,0,1,0,0,1,0,0
31671,0,0,0,0,1,0,0,0,1,0,0,0,0,1,0,0,0,1,0
31674,0,0,0,0,1,0,0,0,1,0,0,0,0,1,0,0,0,0,0
31677,0,0,0,0,1,0,0,0,1,0,0,0,0,1,0,0,0,0,1

In [6]:
# Non_dupDF.columns
X = Non_dupDF.drop(['Severity_None','Severity_Mild','Severity_Moderate'],axis=1)
y = Non_dupDF['Severity_None']
print(X.shape, y.shape)

(5760, 16) (5760,)

0        0
3        0
6        0
9        1
24       0
        ..
31665    1
31668    0
31671    0
31674    0
31677    1
Name: Severity_None, Length: 5760, dtype: int64

In [7]:
from sklearn.model_selection import train_test_split
X_train,X_test, y_train, y_test =train_test_split(X,y,test_size=0.2)
print(X_train.shape, X_test.shape)
X_train.shape[0]+ X_test.shape[0]

(4608, 16) (1152, 16)

5760

In [9]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()

In [10]:
model.fit(X_train,y_train)
print("Acc -> ",model.score(X_test,y_test)*100,"%")

Acc ->  75.78125 %